body {
    background-color: rgb(170, 196, 236);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.158);
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

div {
    text-align: center;
    padding: 8px;
}

.minimize {
    width: 250px;
    height: 250px;
}